@import "bootstrap";

body{
  background-color: #8e8a76;
}

.footer {
  color: #4a8046;
  background-color: #033342;
  text-align: center;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  letter-spacing: .2rem;
}


// Apartments Index
.index-listing{
  border: 1px dashed;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: #4a8046;
    background-color: #033342;
}

// Apartment Show

apartment-show{
  display: flex;
  flex-direction: column;
  align-items: center;
}